* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-decoration: none;
}

html {
    --independence: #435362;
    --smokey-black: #0F0C0C;
    --gainsboro: #DDDDDD;
    --azureish-white: #E1EFF6;
    --green: #27ae60;
    --paris-green: #49CE81;
    --mid-green:#47ae72;
    --white-smoke: #F4F4F4;
    --nyanza: #E5FFCD;
    --aero-blue: #d3f1df;

}

body {

    margin: 0 auto;
    max-width: 950px;
    height: 100vh;
    padding: 2rem;

}

h1 {
    color: var(--smokey-black);
    text-align: center;
    margin: 2px;
    padding: 5px;
}

input {
    margin: 5px;
    padding: 5px;
}

ul {
    list-style-type: none;
}

li {
    font-weight: bold;
    padding: 10px;
    color: var(--green);
}

.beerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid var(--independence);
    padding: 5px;
}

.beerDescription {
    font-size: 50%;
    font-weight: lighter;
    padding: 10px;
    text-align: justify;
}

.beerImg {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 75px;
}
button {
	box-shadow:inset 0px 1px 0px 0px var(--nyanza);
	background:linear-gradient(to bottom, var(--green) 5%, var(--paris-green) 100%);
	background-color: var(--paris-green);
	border-radius:6px;
	border:1px solid var(--green);
	display:inline-block;
	cursor:pointer;
	color: var(--nyanza);
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:5px;
	text-decoration:none;
	text-shadow:0px 1px 0px var(--mid-green);
}
.IndexB{
    position: sticky;
}

